<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>



  <spring>
    <context>
      <resource uri="config://spring/objects/">
      </resource>
    </context>

    <objects xmlns="http://www.springframework.net">
      <object name="Person" type="Spring.AOP.ConsoleTest.Person, AOPLogger" singleton="false"></object>

      <object id="AOPPerson" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
          <object type="Spring.AOP.ConsoleTest.Person, Spring.AOP.ConsoleTest"></object>
        </property>
        <property name="InterceptorNames">
          <list>
            <value>AdviceLog</value>
          </list>
        </property>
      </object>
      <object id="AdviceLog" type="Spring.AOP.ConsoleTest.LoggerAdvice, Spring.AOP.ConsoleTest"></object>
    </objects>

  </spring>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>